{% extends "layout.html" %}
{% block body %} 
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Mazer</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"></li>
                
            </ul><p style="margin-right: 100px;">{{ session['username'] }}</p><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="{{ url_for('logout') }}">Log Out</a></span></div>
    </div>
</nav>
<div class="container" style="text-align: center; margin: auto; width:500px">
    <form method=POST action="{{ url_for('mazeadd') }}">
        <h2 class="text-center"><strong>Add</strong> a maze!!</h2>
        <div class="form-group"><input class="form-control" type="text" name="seed" placeholder="eg AAAA or AAABDC"></div>
        <div class="form-group">
            <input type="checkbox" name="agree" value="Not Nulls">I agree to not publish the maze genereted.</label>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Add now!!</button></div></form>
    <h2>Saved mazes:</h2>
    <div class="row">
        {% for item in data %}
        <div class="col" style="width: 400px; height: 420px; border: black solid 1px; margin:0 auto;">
            <a href={{ item }} download>Download {{ item.split("/data/")[1] }}</a>
        
            <object type="image/svg+xml" data= {{ item }} style="height: 390px; width: 390px; margin: auto;">
            </object>
        </div>
    {% endfor %}
    </div>
    
</div>
{% endblock %}