
{% extends "layout.html" %}
{% block body %} 
<nav class="navbar navbar-light navbar-expand-md navigation-clean-button">
    
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('index') }}">Mazer</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse"
            id="navcol-1">
            
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item" role="presentation"></li>
                <li class="nav-item" role="presentation"></li>
                
            </ul><p style="margin-right: 100px;">{{ session['username'] }}</p><span class="navbar-text actions"> <a class="btn btn-light action-button" role="button" href="{{ url_for('logout') }}">Log Out</a></span></div>
    </div>
</nav>
<div class="container" style="text-align: center;">
    <form method=POST action="{{ url_for('mazeadd') }}">
        <h2 class="text-center"><strong>Add</strong> a maze!!</h2>
        <div class="form-group"><input class="form-control" type="text" name="seed" placeholder="eg AAAAAAA or AAAB"></div>
        <div class="form-group">
            <div class="form-check"><label class="form-check-label"><input type="form-check" name="solution" value="Not Nulls">I agree to the license terms.</label></div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit">Add now!!</button></div></form>
    <h2>Saved mazes:</h2>
    {% for item in data %}
        
        <div class="maze" style="width: 400px; height: 400px; border: black solid 1px;">
            <a href={{ item }} download>Download</a>
            <object type="image/svg+xml" data= {{ item }} style="height: 600px; width: 600px;">
            </object>
        </div>
    {% endfor %}
</div>
{% endblock %}